/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole container */
.container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* Regole slider */
.slider {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
}

/* regole elemento singolo */
.item {
    display: none;
}

/* Regole immagini */
img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Regole comuni pulsanti */
.next,
.previous {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* regole pulsante NEXT - freccia DOWN */
.next {
    left: 50%;
    bottom: 0px;
}

/* regole pulsante PREVIOUS - freccia UP */
.previous {
    left: 50%;
    bottom: 85%;
}

/* Quando attivo */
.active {
    display: block;
}

/* Quando nascosto */
.hidden {
    display: none;
}